body {
    font-family: Arial, sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 246, 255);
}

header {
    background-color: aqua;
    color: rgb(0, 38, 253);
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.doctor-card {
    background-color: rgb(0, 242, 255);
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    overflow:hidden
}

.doctor-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.doctor-info {
    padding: 15px;
}

.doctor-info h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.doctor-info a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.doctor-info a:hover {
    text-decoration: underline;
}

.doctor-info p {
    color: rgb(208, 0, 255);
    margin: 0;
}